﻿ /* PROJETO WEB - ESTRUTURA DA MASTER PAGE */



* {
    background: #198981 !important;
}


body {
    background: linear-gradient(45deg, #4FDBA5, #4EDBD5);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

/* CABEÇALHO  */
.cabecalho {
    height: 81px;
    width: 100%;
    /* permite que elementos tenham posições ABSOLUTAS dentro do cabeçalho */
    position: relative;
    border-bottom: 1px solid #c9c9c9;
    background: #4FB6DB !important;
    font-weight: bold;
}

.logomarca {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}

    .logomarca img {
        margin-top: 8px;
        padding-left: 30px;
    }

.barra-titulo {
    position: absolute;
    top: 0;
    left: 81px;
    right: 0;
    bottom: 40px;
}

    .barra-titulo h1 {
        padding: 25px;
        /*padding-left: 60px;*/
        text-align: center;
        font-size: 35px;
    }

.barra-menu {
    position: absolute;
    /*left: 81px;*/
    right: 0;
    bottom: 0;
    height: 40px;
    text-align: right;
    padding-right: 30px;
}

    .barra-menu a {
        color: #333333;
        font-family: IBM Plex Sans Arabic;
        font-weight: 600;
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        cursor: pointer;
    }

        .barra-menu a:hover {
            color: white;
            border-bottom: 3px solid white;
        }

/*
    .barra-menu a {
        color: #333333;
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        font-family:
    }

        .barra-menu a:hover {
            color: black;
            border: 1px solid black;
            background-color: #e9814c;
            border-radius:5px;
        }
*/
.conteudo {
    min-height: 800px;
}

.rodape {
    height: 400px;
    background-color: #dbdbdb;
    padding: 30px;
}

/* IMAGENS */

.pessoas-img {
    height: 250px;
    margin-left: 920px;
    margin-top: -75vh;
    border: 4px dashed black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/*TEXTO*/

.texto-inegrantes {
    padding-left: 50px;
    margin-top: 60px;
}

.barra-case::before {
    content: '';
    position: absolute;
    height: 7px;
    width: 250px;
    margin-top: -10px;
    border-radius: 8px;
    background: #2a92ed;
}

.links-home a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.3s, background 0.3s;
}

    .links-home a:hover {
        transform: scale(1.1);
        background: #4F89DB;
        border-radius: 10px;
        padding: 10px;
    }

.sobre {
    padding: 25px;
    text-align: center;
}

.quemsomos {
    margin-left: 40px;
    text-align: justify;
    width: 40%;
    /* float: left; /* Aqui vc flutua o texto antes pra esquerda*/
}

.container-img {
    /*loat: left; /* Aqui vc flutua a div container da imagem */
    height: 250px;
    width: 254px;
}

.ImagemSobre {
    width: 600px;
    height: 270px;
    margin-left: 45rem;
    margin-top: -18rem;
}

.borda_principal {
    display: flex;
    justify-content: center;
    width: 75rem;
    margin-bottom: 270px;
    margin-left: 50px;
    border: 4px solid #042782;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
}

    .borda_principal p {
        font-size: 18px;
        text-align: center;
    }

.Missao {
    width: 500px;
}

.Visao {
    width: 500px;
}

.Valores {
    width: 500px;
}


.input .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 596px;
    left: 22px;
    background: rgba(0, 0, 0, 0.2);
}

.input .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 596px;
    left: 22px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .5s ease-in-out;
    transform-origin: left;
}

.lider img {
    width:200px;
    border-radius:55px;
    box-shadow:20px;
}

.lider {
    width: 450px;
    margin-top:30px;
}



/*Parte da responsividade*/
@media (max-width: 920px) and (orientation: portrait) {
    body {
        background: linear-gradient(45deg, #4FDBA5, #4EDBD5);
        background-repeat: no-repeat;
        min-height: 100vh;
        min-width: 57vh;
    }

    .barra-titulo h1 {
        padding: 25px;
        text-align: center;
        font-size: 25px;
    }

    .links-home {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    .logomarca img {
        margin-top: 20px;
        padding-left: 30px;
        width: 65px;
        margin-right: 15px;
    }

    .links-home p {
        display: none;
    }

    .links-home h3 {
        text-align: center;
    }
}