/* PROJETO WEB - ESTRUTURA DA MASTER PAGE */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

body {
    background: linear-gradient(45deg, #4FDBA5, #4EDBD5);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

/* CABEÇALHO  */
.cabecalho {
    height: 81px;
    width: 100%;
    /* permite que elementos tenham posições ABSOLUTAS dentro do cabeçalho */
    position: relative;
    border-bottom: 1px solid #c9c9c9;
    background: #4FB6DB !important;
    font-family: IBM Plex Sans Arabic;
    font-weight: bold;
}

.logomarca {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    text-align: center;
}

    .logomarca img {
        margin-top: 8px;
        padding-left: 30px;
    }

.barra-titulo {
    position: absolute;
    top: 0;
    left: 81px;
    right: 0;
    bottom: 40px;
}

    .barra-titulo h1 {
        padding: 25px;
        /*padding-left: 60px;*/
        text-align: center;
        font-size: 35px;
    }

.barra-menu {
    position: absolute;
    /*left: 81px;*/
    right: 0;
    bottom: 0;
    height: 40px;
    text-align: right;
    padding-right: 30px;
}

    .barra-menu a {
        color: #333333;
        font-family: IBM Plex Sans Arabic;
        font-weight: 600;
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        cursor: pointer;
    }

        .barra-menu a:hover {
            color: white;
            border-bottom: 3px solid white;
        }

/*
    .barra-menu a {
        color: #333333;
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        font-family:
    }

        .barra-menu a:hover {
            color: black;
            border: 1px solid black;
            background-color: #e9814c;
            border-radius:5px;
        }
*/
.conteudo {
    min-height: 800px;
}

.rodape {
    height: 400px;
    background-color: #dbdbdb;
    padding: 30px;
}

/* IMAGENS */

.pessoas-img {
    height: 250px;
    margin-left: 950px;
    margin-top: -150vh;
    border: 4px dashed black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/*TEXTO*/

.texto-inegrantes {
    padding-left: 50px;
    margin-top: 60px;
}

.barra-case::before {
    content: '';
    position: absolute;
    height: 7px;
    width: 185px;
    border-radius: 8px;
    background: #2a92ed;
}

.links-home a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.3s, background 0.3s;
}

    .links-home a:hover {
        transform: scale(1.1);
        background: #4F89DB;
        border-radius:10px;
        padding: 10px;
    }

.sobre {
    padding: 25px;
    text-align: center;
}

.quemsomos {
    margin-left: 40px;
    text-align: justify;
    width: 40%;
    float: left; /* Aqui vc flutua o texto antes pra esquerda*/
}

.container-img {
    float: left /* Aqui vc flutua a div container da imagem */
}

.ImagemSobre {
    width: 700px;
    height: 270px;
    margin-left: 20px; /*Aqui vc formata a imagem com o quiser*/
}


/*Parte da responsividade*/

@media (max-width: 920px) and (orientation: portrait) {
    body {
        background: linear-gradient(45deg, #4FDBA5, #4EDBD5);
        background-repeat: no-repeat;
        min-height: 100vh;
        min-width: 10vh;
    }

    .barra-titulo h1 {
        padding: 25px;
        text-align: center;
        font-size: 25px;
    }

    .logomarca img {
        margin-top: 20px;
        padding-left: 30px;
        width: 65px;
        margin-right: 15px;
    }

    .links-home p{
        display:none;
    }

    .links-home h3{
        text-align:center;
    }
}